
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/material.woff2) format('woff2');
}
@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto-Regular.woff');
  font-weight: normal;
  font-style: normal;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  background-color: #008CCA;
  border: none;
  padding: 2px 2px;
  color: white;
  display: inline-block;
  cursor: pointer;
  margin: 2px 2px;
  border-radius: 5px;
  float: right;
}

body {
  background: url('../img/textures.png');
  background-color: #3D4241;
  font-family: Roboto;
  font-size: 14px;
}

.main {
  background-color: #FFFFFF;
  border: 1px solid #3D4241;
  border-radius: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width:750px;
  height: 100%;
  margin-top:auto;
  margin-bottom:auto;
  margin-left:auto;
  margin-right:auto;
}

#login {
  background-color: #FFFFFF;
  border: 1px solid #3D4241;
  border-radius: 5px;
  width:300px;
  height: 100%;
  margin-top:5%;
  margin-left:auto;
  margin-right:auto;
}

/* Zebra striping */
table.zebra{
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  border-collapse: collapse;
}
table.zebra tr:nth-of-type(odd) {
  background: #f1f1f1;
}
table.zebra th {
  background: #008CCA;
  color: white;
  font-weight: bold;
}
table.zebra td, th {
  padding: 2px;
  border: 1px solid #ccc;
  text-align: left;
}

table.tprint {
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  border-collapse: collapse;
}
table.tprint th {
  background: #008CCA;
  color: white;
  font-weight: bold;
}
table.tprint td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

table.tprinta {
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  border-collapse: collapse;
}
table.tprinta th {
  background: #008CCA;
  color: white;
  font-weight: bold;
  text-align: center;
}
table.tprinta td {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: center;
}

table.tnav {
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  border-collapse: collapse;
}
table.tnav td {
  padding: 3px;
  border: 0px;
  text-align: left;
  font-weight: bold;
}

.btnsubmit {
  background-color: #008CCA;
  border: none;
  padding: 5px 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin: 2px 2px;
  border-radius: 5px;
  float: left;
}

textarea,input,select {
  background-color: #FDFBFB;
  border: 1px solid #008CCA;
  padding: 2px;
  margin: 2px;
  font-size: 12px;
  color: #808080;
  outline: none;
}

/* Style the tab */
div.tab {
  overflow: hidden;
  width: 100%;
  margin-top:7px;
  margin-left:auto;
  margin-right:auto;
  height: 100%;
  background-color: #008CCA;
  border: 1px solid #ccc;
}

/* Style the buttons inside the tab */
div.tab button {
  background-color: #008CCA;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 5px;
  transition: 0.5s;
  font-size: 14px;
  font-weight: bold;
  color:#000000;
  width:50%;
}

div.tab button:hover {
  background-color: #F1F1F1;
  color: #000000;
}

div.tab button.active {
  background-color: #008CCA;
  color: #FFFFFF;
}

.tabcontent {
  display: none;
  padding: 0px 0px;
  border-top: none;
}

.dropbtn {
    background-color: #008CCA;
    color: white;
    padding: 2px;
    font-size: px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #008CCA;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #3D4241}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #008CCA;
}

@media only screen and (max-width:450px) {
  /* For mobile phones: */
  .main  {
    width:330px;
  }
}

a:link {
  color: #FFFFFF;
}
a:visited {
  color: #FFFFFF;
}
a:hover {
  color: #FFFFFF;
}
a:active {
  color: #FFFFFF;
}

.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 300px;
  position: relative;
  margin: 10% auto;
  padding: 1rem;
  background: #3D4241;
  color: #FFFFFF;
  border-radius: 5px;
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  color: #ffffff;
  line-height: 50px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: red;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
